#messager {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2002;
  width: 360px;

  text-align: left;

  div.alert {
    float: right;
    width: 360px;
    margin: 10px;
    padding: 20px;

    i {
      margin-right: 20px;
    }
  }
}